/* You can add global styles to this file, and also import other style files */

@import 'assets/icons/icons.css';
@import 'assets/mdc-light-indigo/theme.css';
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E4E5E6;
    font-weight: 500;
    text-align: left;
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

.hover:hover {
    cursor: pointer;
}

.p-invalid {
    color: #B00020;
}

.primary-color-text {
    color: #2196F3;
}

.primary-background-text {
    background-color: #2196F3;
}

.danger-color-text {
    color: #D32F2F;
}

.danger-background-text {
    background-color: #D32F2F;
}

.container {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    min-height: 100vh;
}

.dialog-height.p-dialog {
    max-height: 98%;
}

.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-thead {
    z-index: 0 !important;
}

.chipcustom {
    border-radius: 2rem;
    background-color: transparent;
    color: #fff;
    border: 0 none;
    margin: 0;
    display: inline-flex;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 5px;
    justify-content: center;
    font-size: 12px;
}

.readonly {
    opacity: 0.7;
}


/*************************/
.sidebar .p-card{
    -webkit-box-shadow: 0 0 5px 2px rgb(163, 163, 163);
    -moz-box-shadow: 0 0 5px 2px rgb(163, 163, 163);
    box-shadow: 0 0 5px 2px rgb(163, 163, 163);
}

.sidebar .p-card:hover{
    background-color: rgb(187, 187, 187);
}
.sidebar .p-panel-content{
    margin-top: 10px;
}
.sidebar .grid{
    margin: 0 !important;
}

.sidebar .p-panel{
    margin-top: 5px;
}

.sidebar .details input{
    width: 45px !important;
}

/*----- HTML GENERATOR -----*/
/* #contenido img{
    margin: 0; 
    border: 0;
    padding: 0;
    display: block;
    max-width: 100%;
    height: auto;
} */


#td-contenido .border-selected{
    border: 2px solid #e2771f !important; 
}

#td-contenido td{
    border: 1px dashed black;
    position: relative;
    vertical-align: top;
}

.contenedor-html #td-contenido td:hover{
    border: 2px solid #2196F3 !important; 
}

.contenedor-html #td-contenido td.td-child:hover{
    border: 2px solid #1fa55b !important; 
}

#dialog-plantilla div.p-element{
    width: 80%;
}

.contenedor-html-plantilla #td-contenido table:hover{
    border: 2px solid #f3213d !important; 
}



.border-unselected{
    border: 1px dashed black !important;
}

.contenedor-html .hover-td{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:0;
    /* display: block; */
    width: 50px;
    height: 30px;
    background-color: #2196F3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    text-align: -webkit-center;
    z-index: 998;
}

.contenedor-html-plantilla .hover-td{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:0;
    /* display: block; */
    width: 50px;
    height: 30px;
    background-color: #f3213d;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    text-align: -webkit-center;
    z-index: 998;
}

.hover-td-bottom{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom:0;
    /* display: block; */
    width: 50px;
    height: 30px;
    background-color: #1fa55b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    text-align: -webkit-center;
    z-index: 999;
}

.hide{
    display:none;
}
.hide-animation{
    display: none;
    opacity: 0;
    /* transition: visibility 3s, opacity 5s linear; */
}
.show-animation{
    visibility: visible;
    opacity: 1;
}

td:hover > .hide{
    display: block;
}

table:hover > .hide{
    display: block;
}

.hover-td span, .hover-td-bottom span{
    line-height: 30px;
    color: #fff;
}

.auxiliar{
    height: 100px;
}

.btn-variable{
    height: 40px !important;
    width: 40px !important;
    background: rgba(33, 150, 243, 0.92) !important;
    border-radius: 4px !important;
    margin-left: -7px !important;
    color: #fff !important;
}

.min-w-1 button{
    min-width: 1rem !important;
    margin-left: 2px;
}

#p-imagen-target .p-component{
    width: 100% !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

#td-contenido p{
    margin: 0 !important;
}



.ql-snow .ql-tooltip a.ql-action::after{
    border-right: 1px solid #ccc;
    content: 'Modificar' !important;
    padding-right: 8px;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after{
    border-right: 0px;
    content: 'Confirmar' !important;
    padding-right: 0px;
}
.ql-snow .ql-tooltip a.ql-remove::before{
    content: 'Eliminar' !important;
    margin-left: 0 !important;
}
.ql-snow .ql-tooltip a.ql-action::after{
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.ql-tooltip{
    left: 0 !important;
    display: grid;
}
.ql-tooltip input{
    width: 100%;
}

#estructuras .p-card .p-card-content{
    padding: 0;
}

.opcion-plantilla{
    width: 100%;
    border-radius: 4px;
    margin: 5px;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px 2px rgb(163, 163, 163);
    -moz-box-shadow: 0 0 5px 2px rgb(163, 163, 163);
    box-shadow: 0 0 5px 2px rgb(163, 163, 163);
    overflow: hidden;
    cursor: pointer;
}

.opcion-plantilla .opcion-content{
    height: 120px;
    overflow: hidden;
    margin: auto;
}

.opcion-plantilla .opcion-title{
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.opcion-plantilla td{
    border: 2px solid #A5B0AF !important;
    height: 20px;
}


.contenedor-html-plantilla{
    background-color: rgba(233, 233, 233, 0.5);
    /* min-height: calc(100vh - 125px); */
    padding: 30px;
    /* padding-bottom: 30px; */
    /* min-width: calc(720px + 60px); */
    height: calc(75vh - 145px);/* 52vh; */
    overflow: auto;
}

.contenedor-estructura-plantilla{
    height: calc(75vh - 145px);/* 52vh; */
    overflow: auto;
}

#dialog-plantilla .p-element.p-dialog-maximized .contenedor-html-plantilla {
    height: calc(100vh - 145px);
}

#dialog-plantilla .p-element.p-dialog-maximized .contenedor-estructura-plantilla {
    height: calc(100vh - 145px);
}

#estructuras .p-card-body{
    padding: 0.5rem;
    cursor: pointer;
}


.auxiliar-plantilla{
    height: 40vh;
    /* width: 100%; */
}
