<div #wrapper class="wrapper">
    <div class="topbar">
        <div style="display: flex;align-items: center;">
            <button pButton (click)="clickToggle()" pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"></button>
            <strong style="margin-left: 5px;">MENU</strong>
        </div>
        <div class="animated">
            <!--
            <span class="topbar-search">
                <input type="text" placeholder="Search"><span class="topbar-search-icon pi pi-search"></span></span><a href="#"><span class="topbar-item-text">Messages</span><span
                    class="topbar-icon pi pi-envelope animated swing"></span><span
                    class="topbar-badge animated rubberBand">5</span></a><a href="#"><span
                    class="topbar-item-text">Settings</span><span class="topbar-icon pi pi-cog"></span></a>
                    <a href="#"><span class="topbar-item-text">User</span>
                        <span class="topbar-icon pi pi-user"></span></a>
                    -->
        </div>
    </div>
    <div class="sidebar">
        <div style="color: #fff;text-align: center;margin-top: 15px;">
            <strong>{{title}}</strong>
        </div>
        <div class="profile">
            <img *ngIf="foto" class="avatar" [src]="foto" style="max-width: 100%;">
            <img *ngIf="!foto" class="avatar" src="assets/img/profile.png" style="max-width: 100%;">
            <div> <span style="color: #fff;">{{nombreUsuario}}</span></div>
        </div>
        <div style="text-align: center;">
            <button pButton pRipple (click)="cerrarSesion()" icon='pi pi-power-off' type="button" label="Cerrar sesión" class="p-button-rounded p-button-sm"></button>
        </div>
        <div style="padding:5px;margin-top: 10px;">
            <p-panelMenu [model]="menu" [multiple]="false" styleClass="menucustom"></p-panelMenu>
        </div>
    </div>
    <div class="main">
        <div style="background-color:#fff;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-blockui [blocked]="blocked"></app-blockui>
<p-toast></p-toast>